
.systdata-window-img {
    height: 130px;
    width: fit-content;
    align-self: center;
    margin: 20px 0 20px;
    
}

.systdata-grib-img {
    height: 100px;
    width: fit-content;
    align-self: center;
    margin: 20px 0 20px;
   
}