.obj-data {
    display: flex;
    justify-content: space-evenly;
}

.obj-container {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 11px 1px rgba(34, 60, 80, 0.2);
    width: 1fr;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    
}

.obj-data__check{
    position: absolute;
    top: 380px;
    font-size: 13px
}

.obj-map {
    max-width: 300px;
   object-fit: cover;
}

.obj-img {
overflow:hidden;
height: 100%;
max-height: 150px;
border-radius: 5px;
}

.obj-param {
    max-width: 400px;
}

.obj-adress {
    display: flex;
    max-width: 700px;
    width: 100%;
}