.header {
  display: flex;
  width: 100%;
  margin: 0 auto 0;
  justify-content: space-between;
  align-items: center;
}

.header__title{
  display:flex;
  justify-self: center;
  font-size: 32px;
}

.header__logo {
  width: 300px;
  margin-bottom: 20px;
}

.header-btn {
  border: none;
  background-color: transparent;
}

@media screen and (max-width:950px) {
  .header {
    max-width: 578px;
  }
}

@media screen and (max-width:650px) {
  .header {
    max-width: 320px;
  }
}